$color-primary: #f9f9f9;
$color-secondary: #07070a;
$color-accent: #ffa101;

$color-grey-1: #555;
$color-grey-2: #999;
$color-grey-3: #eee;

$primary-font: 'Lato', sans-serif;
$secondary-font: 'Inter', sans-serif;

//FONT-SIZE
$default-font-size: 1.6rem;
