.about-section {
  .header__textbox {
    text-align: center;
    padding: 20vh auto;
    padding-top: 20vh;
    padding-bottom: 20vh;

    @include respond(phone) {
      margin: 10vh auto;
      width: 85%;
    }
  }

  .desc {
    width: 70%;
    margin: 20vh auto;

    @include respond(phone) {
      margin: 10vh auto;
      width: 85%;
    }
  }

  figure {
    width: 100%;

    img {
      width: 100%;
    }
  }
}

.roadmap-section {
  figure {
    width: 80%;
    margin: 20vh auto;

    img {
      width: 100%;
    }
  }
}

.team-section {
  margin-bottom: 20rem;
  .team {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10rem;

    @media only screen and (max-width: 450px) {
      display: block;
    }

    .person {
      text-align: center;

      @media only screen and (max-width: 450px) {
        margin-bottom: 10rem;
      }

      img {
        height: 20rem;
        border-radius: 2rem;
        margin-bottom: 1.6rem;

        @media only screen and (max-width: 450px) {
          width: 70%;
          height: auto;
        }
      }

      figcaption {
        font-family: $secondary-font;

        h3 {
          font-weight: bold;
          font-size: 2rem;
          color: $color-secondary;
          margin-bottom: 1.6rem;
        }
      }
    }
  }
}
