.footer {
  background-color: $color-secondary;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10rem;
  padding-bottom: 10rem;

  @include respond(phone) {
    flex-direction: column;
    gap: 5rem;
  }

  .logo {
    flex: 1;

    img {
      width: 30rem;
    }
  }

  .cta {
    flex: 1;
    display: flex;
    justify-content: end;
    gap: 3rem;

    @include respond(phone) {
      gap: 5rem;
    }
  }
}
